#map {
  height: 70% !important;
}

body.darkmode {
  background-color: rgb(32, 32, 44);
  color: white;
}

.gm-style-mtc {
  display: none !important;
}

.row {
  text-align: center;
}

#fondo{
  background-image: url("(/static/Imagenes/edificiouni.jpg");
  background-repeat: no-repeat;
  height: 18%;
}
